@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
}

.list li:hover {
  background-color: #f6e58d; /* 鼠标悬停时的背景色 */
}

.list li:active {
  background-color: #f9ca24; /* 鼠标点击时的背景色 */
}

.item-1 {
  width: 200px;
  font-family: 'Times New Roman', serif;
  font-size: 24px; 
  font-weight: bold;
}

.item-2 {
  flex: 1;
  margin-left: 10px;
  font-family: 'Helvetica Neue', sans-serif; 
}
